<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Open+Sans+Condensed:300|PT+Serif" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/index.css">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="javascripts/partials/topUserMenu.js"></script>
    <!--<script src="index.js"></script>-->
    <title>Title</title>
    <style>


    </style>
</head>
<body>
<div class="container-fluid" style="font-family: 'Merriweather', serif">

    <!--top part-->
    <div>
        <!--carousel-->
        <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel" style="opacity: 0.4"
             data-pause="false">

            <!--TO DO-->
            <!--сделать fade анимацию медленнее и слева направо -->
            <div class="carousel-inner" style="background: #26232B; height: 715px">
                <div class="active item">
                    <img class="img-responsive" style="height: 100%; width: 100%;" src="images/decorative/initial.jpg"/>
                </div>
                <div class="item">
                    <img class="img-responsive" style="height: 100%; width: 100%" src="images/decorative/okPicture.jpg"/>
                </div>
                <div class="item">
                    <img class="img-responsive" style="height: 100%; width: 100%" src="images/decorative/okSkribble.jpg"/>
                </div>
            </div>
        </div>
        <div class="centeredElement">
            <p style="font-family: 'Crimson Text', serif; font-size: 62px; text-align: center">
                Number One <br/> Online Art Gallery
            </p>
            <p class="startButton">
                Start
            </p>
        </div>


    </div>

    <!--navbar-->
    <div style="background: black;">
        <div class="container">
            <nav class="navbar navbar-default roboto normal" role="navigation">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navigation-elements">
                        <ul class="nav navbar-nav" style="font-family: 'Merriweather', serif;">
                            <li class="active"><a href="#">Home</a>
                            </li>
                            <li><a href="gallery">Gallery</a>
                            </li>
                            <li><a href="#">Painters</a>
                            </li>
                            <li><a href="#">My Account</a>
                            </li>
                            <li><a href="#">Help</a>
                            </li>
                            <li><a href="#">Abount Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <!--middle area-->
    <div style="background: #374541; height: auto">
        <div class="container" style="padding-top: 15px; padding-bottom: 40px; padding-left: 30px; padding-right: 30px;">
            <div style="margin-top: 20px">
                <img class="img-responsive" style="height: 50px; width: 50px; display: inline-block; vertical-align: top"
                     src="images/decorative/handshake.png"/>
                <p style="display: inline-block; font-family: 'Poppins', sans-serif; color: white; font-size: 32px; vertical-align: bottom">
                    No mediators
                </p>
                <p style="font-family: 'Libre Baskerville', serif; color: #ffe4b2; font-size: 16px; vertical-align: bottom">
                    Get a drawing right from hands of a painter wihouth huge mark-ups
                </p>
            </div>
            <div  style="margin-top: 20px; text-align: right;">
                <p style="display: inline-block; font-family: 'Poppins', sans-serif; color: white; font-size: 32px; vertical-align: bottom">
                    Find in one minute
                </p>
                <img class="img-responsive" style="height: 50px; width: 50px; display: inline-block; vertical-align: top"
                     src="images/decorative/find.png"/>
                <p style="font-family: 'Libre Baskerville', serif; color: #ffe4b2; font-size: 16px; vertical-align: bottom">
                    Find by keywords, color, genre, price, favorite artist, popularity
                </p>
            </div>
            <div style="margin-top: 20px">
                <img class="img-responsive" style="height: 50px; width: 50px; display: inline-block; vertical-align: top"
                     src="images/decorative/delivery.png"/>
                <p style="display: inline-block; font-family: 'Poppins', sans-serif; color: white; font-size: 32px; vertical-align: bottom">
                    Reliable delivery
                </p>
                <p style="font-family: 'Libre Baskerville', serif; color: #ffe4b2; font-size: 16px; vertical-align: bottom">
                    Get your drawing safeLy and fast
                </p>
            </div>
            <div  style="margin-top: 20px; text-align: right;">
                <p style="display: inline-block; font-family: 'Poppins', sans-serif; color: white; font-size: 32px; vertical-align: bottom">
                    Modern art
                </p>
                <img class="img-responsive" style="height: 50px; width: 50px; display: inline-block; vertical-align: top"
                     src="images/decorative/community.png"/>
                <p style="font-family: 'Libre Baskerville', serif; color: #ffe4b2; font-size: 16px; vertical-align: bottom">
                    Discuss, rate, communicate
                </p>
            </div>
            <div style="margin-top: 20px">
                <img class="img-responsive" style="height: 50px; width: 50px; display: inline-block; vertical-align: top"
                     src="images/decorative/artPicture.png"/>
                <p style="display: inline-block; font-family: 'Poppins', sans-serif; color: white; font-size: 32px; vertical-align: bottom">
                    No prints
                </p>
                <p style="font-family: 'Libre Baskerville', serif; color: #ffe4b2; font-size: 16px; vertical-align: bottom">
                    Only natural art
                </p>
            </div>
            <div  style="margin-top: 20px; text-align: right;">
                <p style="display: inline-block; font-family: 'Poppins', sans-serif; color: white; font-size: 32px; vertical-align: bottom">
                    Be an artist
                </p>
                <img class="img-responsive" style="height: 50px; width: 50px; display: inline-block; vertical-align: top"
                     src="images/decorative/artist.png"/>
                <p style="font-family: 'Libre Baskerville', serif; color: #ffe4b2; font-size: 16px; vertical-align: bottom">
                    Quick start for a young painter. No start capital required
                </p>
            </div>
        </div>
    </div>

    <!--TO DO сделать галерею с примерами картин из разных направлений дизайн можно взять из https://www.saatchiart.com/ -->
    <!--gallery-->
    <div class="container" style="padding: 30px">
        <div class="row">
            <div class="col-xs-4" style="height: 300px; padding: 20px; text-align: center">
                <div class="galleryItem">
                    <img class="img-responsive" style="height: 100%; width: 100%;" src="images/decorative/abstractionism.jpg"/>
                    <div class="galleryCenterElement">
                        <p>Abstractionism</p>
                    </div>
                    <span class="galleryText"> View More </span>
                </div>
            </div>
            <div class="col-xs-4" style="height: 300px; padding: 20px; text-align: center">
                <div class="galleryItem">
                    <img class="img-responsive" style="height: 100%; width: 100%;" src="images/decorative/impressionism.jpg"/>
                    <div class="galleryCenterElement">
                        <p>Impressionism</p>
                    </div>
                    <span class="galleryText"> View More </span>
                </div>
            </div>
            <div class="col-xs-4" style="height: 300px; padding: 20px; text-align: center">
                <div class="galleryItem">
                    <img class="img-responsive" style="height: 100%; width: 100%;" src="images/decorative/artdeco.jpg"/>
                    <div class="galleryCenterElement">
                        <p>Art-deco</p>
                    </div>
                    <span class="galleryText"> View More </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4" style="height: 300px; padding: 20px; text-align: center">
                <div class="galleryItem">
                    <img class="img-responsive" style="height: 100%; width: 100%;" src="images/decorative/cubism.jpg"/>
                    <div class="galleryCenterElement">
                        <p>Cubism</p>
                    </div>
                    <span class="galleryText"> View More </span>
                </div>
            </div>
            <div class="col-xs-4" style="height: 300px; padding: 20px; text-align: center">
                <div class="galleryItem">
                    <img class="img-responsive" style="height: 100%; width: 100%;" src="images/decorative/popart.jpg"/>
                    <div class="galleryCenterElement">
                        <p>Pop Art</p>
                    </div>
                    <span class="galleryText"> View More </span>
                </div>
            </div>
            <div class="col-xs-4" style="height: 300px; padding: 20px; text-align: center">
                <div class="galleryItem">
                    <img class="img-responsive" style="height: 100%; width: 100%;" src="images/decorative/stillLife.jpg"/>
                    <div class="galleryCenterElement">
                        <p>Still Life</p>
                    </div>
                    <span class="galleryText"> View More </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4" style="height: 300px; padding: 20px; text-align: center">
                <div class="galleryItem">
                    <img class="img-responsive" style="height: 100%; width: 100%;" src="images/decorative/cityscape.jpg"/>
                    <div class="galleryCenterElement">
                        <p>Cityscape</p>
                    </div>
                    <span class="galleryText"> View More </span>
                </div>
            </div>
            <div class="col-xs-4" style="height: 300px; padding: 20px; text-align: center">
                <div class="galleryItem">
                    <img class="img-responsive" style="height: 100%; width: 100%;" src="images/decorative/landscape.jpg"/>
                    <div class="galleryCenterElement">
                        <p>Landscape</p>
                    </div>
                    <span class="galleryText"> View More </span>
                </div>
            </div>
            <div class="col-xs-4" style="height: 300px; padding: 20px; text-align: center">
                <div class="galleryItem">
                    <img class="img-responsive" style="height: 100%; width: 100%;" src="images/decorative/historPaint.jpg"/>
                    <div class="galleryCenterElement">
                        <p>Historical Art</p>
                    </div>
                    <span class="galleryText"> View More </span>
                </div>
            </div>
        </div>
    </div>


    <!--footer-->
    <div style="background: #374541; color: white" >
        <div class="container" style="padding-top: 15px; padding-left: 50px">
            <div class="row" style="text-align: left">
                <div class="col-xs-4">
                    <p style="font-weight: bold">
                        For Buyers:
                    </p>
                    <p>
                        Catalog
                    </p>
                    <p>
                        Buyer FAQ
                    </p>
                </div>
                <div class="col-xs-4">
                    <p style="font-weight: bold">
                        For Artists:
                    </p>
                    <p>
                        Sell Your Art
                    </p>
                    <p>
                        Seller's guide
                    </p>
                    <p>
                        Seller FAQ
                    </p>
                </div>
                <div class="col-xs-4">
                    <p style="font-weight: bold">
                        About Us:
                    </p>
                    <p>
                        Our Mission
                    </p>
                    <p>
                        Vacancies
                    </p>
                </div>
            </div>
        </div>
    </div>


    <!--top menu-->
    <%- include partials/topUserMenu.ejs %>
    <!--<div style="position: fixed; top: 2px; right: 100px; z-index: 1000;font-family: 'PT Serif', serif;">-->
        <!--&lt;!&ndash;<div style="position: absolute; top: 0px; background: green; z-index: 1000;font-family: 'PT Serif', serif; width: 100%">&ndash;&gt;-->
        <!--<div class="topButton">-->
            <!--<img class="img-responsive" style="height: 40px; width: 40px;display: inline-block; margin: auto"-->
                 <!--src="images/interfaceImages/home.png"/>-->
        <!--</div>-->
        <!--<div class="topButton">-->
            <!--<img class="img-responsive" style="height: 40px; width: 40px;display: inline-block;"-->
                 <!--src="images/interfaceImages/cart.png"/>-->
        <!--</div>-->
        <!--<div class="topButton">-->
            <!--<div class="dropdown" style="display: inline-block">-->
                <!--<div type="button" class="dropdown-toggle" type="button" data-toggle="dropdown"-->
                     <!--style="display: inline-block">-->
                    <!--<img class="img-responsive"-->
                         <!--style="height: 40px; width: 40px; display: inline-block; border-radius: 50%"-->
                         <!--src="images/userAvatars/user.jpg"/>-->
                    <!--My Account-->
                    <!--<span class="caret"></span>-->
                <!--</div>-->
                <!--<ul class="dropdown-menu">-->
                    <!--<li><a href="#">View profile</a></li>-->
                    <!--<li><a href="#">History</a></li>-->
                    <!--<li class="divider"></li>-->
                    <!--<li><a href="#">Sign out</a></li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->


</div>
</body>
</html>