<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Open+Sans+Condensed:300|PT+Serif"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.1/jquery.form.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Profile</title>

    <script>
        $(document).ready(function () {
            var options = {
                beforeSubmit: showRequest,  // pre-submit callback
                success: showResponse  // post-submit callback
            };

            // bind to the form's submit event
            $('#frmUploader').submit(function () {
                $(this).ajaxSubmit(options);
                // always return false to prevent standard browser submit and page navigation
                return false;
            });
        });

        // pre-submit callback
        function showRequest(formData, jqForm, options) {
            return true;
        }

        // post-submit callback
        function showResponse(responseText, statusText, xhr, $form) {
            $("#avatarImage").attr("src", "/images/userAvatars/"+responseText);
            //alert('status: ' + statusText + '\n\nresponseText: \n' + responseText );
        }
    </script>
</head>
<body>
<div class="container-fluid" style="font-family: 'Merriweather', serif">
    <div style="background: #374541; height: 40px">
    </div>
    <div class="container" style="padding: 30px">
        <div class="row">
            <div class="col-xs-4" style="height: 300px; padding: 20px; text-align: center">
                <div class="galleryItem">
                    <img id="avatarImage" class="img-responsive avatarImage" style="height: 100%; width: 100%;"
                         src="/images/userAvatars/<%= profileUser.avatarFileName %>"/>
                    <!--src="images\userAvatars/avatarUploader1494355308884Untitled2.png"/>-->
                    <span class="avatarUploadElement"> Upload </span>
                </div>
                <button type="button" class="btn btn-default" style="width: 100%">Change Avatar</button>

                <form id="frmUploader" enctype="multipart/form-data" action="api/Upload/" method="post">
                    <input type="file" name="avatarUploader" multiple/>
                    <input type="submit" name="submit" id="btnSubmit" value="Upload"/>
                </form>

            </div>
            <div class="col-xs-8" style="padding-left: 20px; text-align: left">
                <p style="font-family: 'Crimson Text', serif; font-size: 48px; margin-left: 15px">
                    Alexander Russkov (<%= user.username%>)
                </p>

                <p style="font-family: 'Merriweather', serif; margin-left: 15px">On Drawing Market since 9 May, 2017</p>

                <p style="font-family: 'Merriweather', serif; font-size: 24px; margin-left: 15px">Favorite
                    paintings:</p>

                <!--favorites-->
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                    <img src="http://fakeimg.pl/365x365/" class="img-responsive">
                </div>

                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
                    <img src="http://fakeimg.pl/365x365/" class="img-responsive">
                </div>

                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                    <img src="http://fakeimg.pl/365x365/" class="img-responsive">
                </div>

                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
                    <img src="http://fakeimg.pl/365x365/" class="img-responsive">
                </div>

                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
                    <img src="http://fakeimg.pl/365x365/" class="img-responsive">
                </div>

                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
                    <img src="http://fakeimg.pl/365x365/" class="img-responsive">
                </div>

                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
                    <img src="http://fakeimg.pl/365x365/" class="img-responsive">
                </div>

                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
                    <img src="http://fakeimg.pl/365x365/" class="img-responsive">
                </div>

                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
                    <img src="http://fakeimg.pl/365x365/" class="img-responsive">
                </div>

                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                    <img src="http://fakeimg.pl/365x365/" class="img-responsive">
                </div>

                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
                    <img src="http://fakeimg.pl/365x365/" class="img-responsive">
                </div>

                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
                    <img src="http://fakeimg.pl/365x365/" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>